@import "tailwindcss";
@plugin "daisyui";

@theme {
  --color-lila: #E7D6FF;
  --color-oscuro: #2C2A4A; 

  --font-cinzel: 'Cinzel Decorative', serif; 
  --font-baskervville: 'Baskervville', serif; 
}