@import "tailwindcss";
@plugin "daisyui";

@theme {
  --color-lila: #E7D6FF;
  --color-lila-mid: #A68DC8;
  --color-lila-soft: #C9B8E8;

  --color-oscuro: #2C2A4A; 
  --color-oscuro-card: #3A3660;

  --color-bg: #F8F5F2;
  --color-blanco: #FFFFFF;

  --color-text-muted: #5A5870;

  --color-error-bg: #572444; 
  --color-error-text: #FFCCE5;

  --font-cinzel: 'Cinzel Decorative', serif; 
  --font-baskervville: 'Baskervville', serif; 
}
:root {
  --color-lila: #E7D6FF;
  --color-oscuro: #2C2A4A;
  --color-oscuro-card: #3A3660;
  --color-lila-mid: #A68DC8;
  --color-lila-soft: #C9B8E8;
  --color-bg: #F8F5F2;
  --color-blanco: #FFFFFF;
  --color-text-muted: #5A5870;
}